section#about.Content
  .Container
    .Title.center.margin
      span.text About me
    #Social.center.margin
      a.icon(href=`https://github.com/${about.socialNetworks.github}`, title='GitHub' target='_blank')
        i.fa.fa-github
      a.icon(href=`https://twitter.com/${about.socialNetworks.twitter}`, title='Twitter' target='_blank')
        i.fa.fa-twitter
      a.icon(href=`https://facebook.com/${about.socialNetworks.facebook}`, title='Facebook' target='_blank')
        i.fa.fa-facebook
      a.icon(href=`https://instagram.com/${about.socialNetworks.instagram}`, title='Instagram' target='_blank')
        i.fa.fa-instagram
    p #{about.description}